:root {
  --black: #111111;
  --white: #f2f2f2;
  --green: #08eb00;
  --blue : #007af5;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

prompt {
  --background-color: var(--black);
  --color           : var(--white);

  background: var(--background-color);
  color: var(--color);
  font-size: 0.0001em;
  text-indent: -9999px;

  float: left;
  width: 100%;
  height: 100%;

  transition: color 100ms ease, background 100ms ease, text-shadow 100ms ease;
}

prompt[type="white"] {
  --background-color: var(--white);
  --color: var(--black);
  text-shadow: #00000066 1px 1px 2px;
}
prompt[type="retro"] {
  --background-color: var(--black);
  --color: var(--green);
}
prompt[type="blueprint"] {
  --background-color: var(--blue);
  --color: var(--white);
  text-shadow: #ffffff55 2px 2px 1px;
}

prompt *:not(:is(b, i, u, span, a)) {
  display: none;
}
prompt a {
  cursor: pointer;
}
prompt a:hover {
  color: var(--white);
}
prompt[type="white"] a:hover {
  color: var(--blue);
}
prompt[type="blueprint"] a:hover {
  color: var(--black);
}


prompt screen {
  display: block;
  float: left;
  width: 100%;
  height: 100%;

  font-family: FreeMono, Courier, monospace;
  font-family: monospace;
  white-space: pre;

  /* 8px width x 16px height */
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.8px;

  text-indent: 0;
  text-overflow: clip;
  overflow: hidden;
}