:root {
  --black: #111111;
  --white: #f2f2f2;
  --green: #08eb00;
  --blue : #007af5;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

prompt {
  background: var(--black);
  color: var(--white);
  font-size: 0.0001em;
  text-indent: -9999px;

  float: left;
  width: 100%;
  height: 100%;

  transition: color 200ms ease, background 200ms ease;
}

prompt[type="white"] {
  background: var(--white);
  color: var(--black);
}
prompt[type="retro"] {
  background: var(--black);
  color: var(--green);
}
prompt[type="blueprint"] {
  background: var(--blue);
  color: var(--white);
}

prompt *:not(:is(b, i, u, span, a)) {
  display: none;
}
prompt a {
  cursor: pointer;
}
prompt a:hover {
  color: var(--white);
}
prompt[type="white"] a:hover {
  color: var(--blue);
}
prompt[type="blueprint"] a:hover {
  color: var(--black);
}


prompt screen {
  display: block;
  float: left;
  width: 100%;
  height: 100%;

  font-family: monospace;
  white-space: pre;
  font-size: 16px; /* 8.8px width x 19px height */
  text-indent: 0;
  text-overflow: clip;
  overflow: hidden;
}